/node_modules
/public/hot
/public/storage
# netbeans project files
nbproject
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/storage/framework/cache/

/storage/logs/*.log
/storage/framework/sessions/*
/storage/framework/views/*

#/runtime
/api/runtime
